ul  {
  display: flex;
  gap: 20px;
  list-style-type: none;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

  & > * {
    padding: 10px;
    border: 2px solid gray;
    text-decoration: none;
    color: #5c5b57;
  }

  & .active {
    color: #472fdb;
    border-color: #472fdb;
  }
}
